body {
	padding: 0;
	margin: 0;
}
#game_canvas {
	background-color: black;
}

.screen {
	width: 800px;
	height: 600px;
	margin: 0px auto;
	background-color: black;
}

#screen-race {
	width: 100%;
	height: 800px;
	margin: 0px;
}