body {
	padding: 0;
	margin: 0;
}
#game_canvas {
	background-color: black;
}

.screen {
	width: 800px;
	height: 600px;
	margin: 0px auto;
	display: none;
	/*background-color: black;*/
	outline: none !important;
}

#screen-race {
	width: 100%;
	height: 800px;
	margin: 0px;
}

#debug {
	width: 300px;
	height: 200px;
	position: absolute;
	background-color: white;
	color: black;
	border: 1px solid red;
	top: 0;
	left: 0;
}

#starter {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: transparent;
	color: red;
	top: 300px;
	left: 50%;
	font-size: 100px;
	text-align: center;
}

#rpm-gauge {
	position: absolute;
	top: 600px;
	left: 0;
}
#speed-gauge {
	position: absolute;
	top: 600px;
	left: 200px;
}
#boost-gauge {
	position: absolute;
	top: 600px;
	left: 400px;
}

div.title {
	text-align: center;
}